[core]
	editor = vim
	excludesfile = ~/.gitignore

[diff]
	tool = vimdiff
[difftool]
	prompt = false

[includeIf "gitdir:~/projects/github/**"]
        path = ~/projects/github/.gitconfig

[includeIf "gitdir:~/projects/local/**"]
        path = ~/projects/local/.gitconfig

[include]
        path = ~/.config/git/sqlite.inc;
